body{
    background-color:pink;
    background-size: 100%;
}
.container{
    margin: auto;
    margin-top: 100px;
    width: 300px;
    height: 250px;
    justify-content: center;
    background-color: rgb(218, 101, 140);
    border: 2px solid pink;
    padding: 10px;
    text-align: center;
    outline: 5px solid rgb(218, 59, 165);
    border-radius: 12%;
}
 #text{
/* border-radius: 10%; */
             width: 150px;
             height: 30px;
             font-style: italic;
             box-shadow: 1px 1px 1px 1px rgb(29, 28, 28);
             text-align: center;
             font-size: 15px;
             /* color: black; */
        }
        h1{
            text-shadow: rgb(33, 128, 33) 2px;
            font-style: bold;
            font-size: 20px;
        }
        button{
             width: 90px;
             height: 30px;
             text-shadow: rgb(7, 3, 6) 2px;
             font-style: italic;
             font-size: 15px;
             box-shadow: 1px 1px 1px 1px rgb(30, 31, 30);
             text-align: center;
        }
        #img1
       {
        width: 70px;
        height: 70px;
        border-radius: 50%;
       }
       #red{
        width: 200px;
        height: 50px;
        /* margin:auto;
        justify-content: center;
        align-items: center; */
       }
       .icon {
       width: 100px;
       height: 100px; 
       cursor: pointer; 
       transition: transform 1s;
    }
    .icon:active{
      transform: rotate(360deg);
    }
    /* .spin {
      animation-name: rotate ; /* continuous spinning */
      /* animation-duration: 3s;
      animation-iteration-count: 1; */
    
    /* @keyframes rotate {
      from { transform: rotate(0deg); }
      to   { transform: rotate(360deg); }
    } */
           